.app {
  background-color: #f8f9fa;
  height: 100vh;
}

.diagram-container {
  margin: auto;
  width: 90%;
  background-color: #f8f9fa;
}

.diagram-component {
  flex-grow: 1;
  height: 70vh;
  border: solid 2px black;
  outline: none;
  border-radius: 6px;
}

.palette-container {
  margin: auto;
  width: 90%;
  background-color: #f8f9fa;
}

.palette-component {
  /* width: 100px; */
  height: 60px;
  /* width: 80vh; */
  margin-bottom: 2px;
  border: solid 2px black;
  border-radius: 6px;
}

.images-container {
  margin: auto;
  width: 90%;
  background-color: #f8f9fa;
}
