.app {
  background-color: #f8f9fa;
  height: 100vh;
}

.gojs-container {
  display: flex;
  margin: auto;
  width: 90%;
  background-color: #f8f9fa;
}

.diagram-component {
  flex-grow: 1;
  height: 80vh;
  border: solid 2px black;
  outline: none;
}

.palette-component {
  width: 100px;
  height: 80vh;
  margin-right: 2px;
  border: solid 2px black;
}
